---
import BaseLayout from '@src/layouts/BaseLayout.astro';
---

<BaseLayout
  seoTitle=""
  seoDescription=""
  seoImage=""
  seoPageType="website"
  seoCanonicalUrl=""
>
  <main class="flex h-full w-full flex-col items-center justify-center gap-10">
    <h1 class="text-9xl font-extrabold tracking-widest text-white">404</h1>
    <div class="absolute rotate-12 rounded bg-primary px-2 text-sm text-white">
      Page Not Found
    </div>
    <a href="/" class="btn btn-primary text-sm font-medium text-white">
      Go Home
    </a>
  </main>
</BaseLayout>
