---
import Logo from './Logo.astro';
import NavMenu from './NavMenu';
---

<div class="navbar bg-neutral px-5 sm:px-10 md:px-20">
  <div class="container relative mx-auto">
    <div class="flex-1 sm:flex-none">
      <a href="/">
        <Logo />
      </a>
    </div>
    <NavMenu client:load />
  </div>
</div>
